header {
    margin-top: 30px;
    color: #2E99A9;
}

hr {
    border-width: 3px;
    border-color: #2E99A9;
}

/* h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
} */
/* h1 {
    padding: 3rem 6rem;
    background-image: url(out.jpg);
} */
/* h1 {
  position: relative;
  display: inline-block;
  padding: 0 45px;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 2px;
  background-color: black;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
} */
h1 {
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
}
.align-right {
    text-align: right;
}

@media only screen and (max-width: 992px) {
    .radio-inline {
        display: block;
        margin: 0 !important
    }
}

.question {background-color: #C0C0C0;}
